header {
  padding: 20px; 
  border-top: 10px solid black; 
  border-bottom: 10px solid black; 
  margin-bottom: 60px; 
  background-color: yellow
}

h1 {
  color: black;
  float: inline-start;
  position: center;
}

p {
  color: black;
}

body {
  padding: 0 1rem;
  margin: 0 1rem;
}




